.btntotab{
    display:flex;
    margin: 20px auto;
}

.formdate{
    display:flex;
    margin: 20px auto;
}
.fichier{
    border-radius:20px;
  }
  
th{
    background:#337485;
    color: white;
}
.subtab{
    margin-bottom: 20px;
}

.t-head{
    background:#3F51B5;
  }
.container-fluid{
    color:black;
}