th{
    background:#337485;
    color: white;
}
.formdate{
    display:flex;
    margin: 20px auto;
}
.subtab{
    margin-bottom: 20px;
}

.container-fluid{
    color:black;
}

.t-head{
    background:#3F51B5;
  }
